<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI | Almoxarifado - Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <main class="login-section">
            <div class="login-box">
                <img src="../static/senai (1).png" alt="Logo SENAI" class="logo-img">
                
                <h1 class="title">Almoxarifado</h1>

                <form>
                    <div class="input-group">
                        <label for="username">Usuário</label>
                        <input type="text" id="username" placeholder="Digite sua matrícula" required>
                    </div>

                    <div class="input-group">
                        <label for="password">Senha</label>
                        <input type="password" id="password" placeholder="Digite sua senha" required>
                    </div>

                    <button type="submit" class="btn-submit">Entrar</button>
                    
                    <a href="#" class="forgot-password">Esqueceu sua senha?</a>
                </form>
            </div>
        </main>

        <aside class="image-section">
            </aside>
    </div>
    <script>
        const formulario = document.querySelector('form');
        
        formulario.addEventListener('submit', function(evento) {
            evento.preventDefault(); // Impede a página de recarregar
            
            // Redireciona para o arquivo da sua página de estoque
            // (Ajuste o nome 'home.html' caso seu arquivo tenha outro nome)
            window.location.href = "home.html"; 
        });
    </script>
</body>
</html>