<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Movimentação</title>
    <style>
       
     html, body {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden !important; 
    }
        .img-login {
            width: 100vw !important;
            height: 100vh !important;
            object-fit: contain !important;
            display: block !important;
               margin-top: 0vh !important; 
        }
    </style>
</head>

<body style="margin: 0 !important; padding: 0 !important; overflow: hidden !important; background-color: #0c2a5e;">
    
    <img src="../static/movimentação (1).jpg" alt="Layout pagina de movimentacao" 
         style="width: 100vw !important; height: 100vh !important; object-fit: fill !important; display: block !important; margin: 0 !important; padding: 0 !important;">

</body>
</html>